                            @import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,800;1,400&family=Oleo+Script:wght@400;700&display=swap");
                            /* Tabled Portrait */
                            
                            @media screen and (max-width: 768px) {
                                #primary {
                                    width: 100%;
                                }
                                #secondary {
                                    width: 100%;
                                    margin: 0;
                                    border: none;
                                }
                            }
                            
                            * {
                                margin: 0;
                                padding: 0;
                                box-sizing: border-box;
                            }
                            
                            body {
                                background-color: bisque;
                                min-height: 100vh;
                                overflow-x: hidden;
                            }
                            /*navigation bar section*/
                            
                            nav {
                                background: rgb(0, 209, 199);
                                padding: 0px 100px;
                                width: 100%;
                                line-height: 60px;
                                position: fixed;
                                z-index: 1;
                            }
                            
                            nav .logo {
                                padding-top: 20px;
                            }
                            
                            nav .logo p {
                                font-size: 2.5rem;
                                font-weight: bolder;
                                color: rgb(148, 121, 0);
                                text-decoration-line: underline;
                                float: left;
                                letter-spacing: 1.5px;
                            }
                            
                            nav ul li {
                                list-style: none;
                                text-align: right;
                                display: inline;
                            }
                            
                            nav ul li a {
                                color: rgb(85, 61, 10);
                                font-size: 1.6rem;
                                margin: 0 0.6rem;
                                text-decoration: solid;
                                padding-left: 0px 100px;
                            }
                            
                            nav .navbar {
                                text-align: right;
                                padding-left: 25%;
                                padding-top: 10px;
                            }
                            
                            nav .navbar a:hover {
                                color: rgb(187, 85, 2);
                                text-decoration: underline;
                            }
                            /*search-bar*/
                            
                            .img-search {
                                position: relative;
                            }
                            
                            .search-bar {
                                position: absolute;
                                bottom: 25%;
                                right: 35%;
                            }
                            
                            .search-bar input {
                                height: 40px;
                                width: 400px;
                                padding: 0px 10px;
                                border-radius: 50px;
                            }
                            
                            .slogan {
                                font-family: "Oleo Script", cursive;
                                color: #ffffff;
                                font-size: 50px;
                                padding-top: 50px;
                            }
                            /*formatting images*/
                            
                            .hey {
                                height: 300px;
                                width: 300px;
                                object-fit: cover;
                                object-position: center;
                                padding-left: 40px;
                                padding-top: 20px;
                                padding-bottom: 20px;
                            }
                            
                            .hey:hover {
                                transform: scale(1.2);
                                z-index: 2;
                            }
                            /*applying overlay to the first image from the galley*/
                            
                            .image {
                                position: relative;
                                margin-left: 70px;
                                width: 300px;
                                height: 300px;
                            }
                            
                            .image__overlay {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 300px;
                                height: 300px;
                                background: rgba(0, 0, 0, 0.6);
                                color: #ffffff;
                                font-family: "Quicksand", sans-serif;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                opacity: 0;
                                transition: opacity 0.25s;
                            }
                            
                            .image__overlay--blur {
                                backdrop-filter: blur(5px);
                            }
                            
                            .image__overlay--primary {
                                background: #252518;
                            }
                            
                            .image__overlay>* {
                                transform: translateY(20px);
                                transition: transform 0.25s;
                            }
                            
                            .image__overlay:hover {
                                opacity: 1;
                            }
                            
                            .image__overlay:hover>* {
                                transform: translateY(0);
                            }
                            
                            .image__title {
                                font-size: 2em;
                                font-weight: bold;
                            }
                            
                            .image__description {
                                font-size: 1.25em;
                                margin-top: 0.25em;
                            }
                            
                            .image__img {
                                display: block;
                                width: 300px;
                                height: 300px;
                            }
                            /*css in titles*/
                            
                            .ant {
                                font-size: 60px;
                                text-decoration: solid;
                                font-weight: bolder;
                                text-shadow: 15px;
                                font-family: "Karla", sans-serif;
                                color: rgb(28, 28, 46);
                            }
                            
                            .common {
                                font-size: 20px;
                                text-decoration: wavy;
                                font-family: "Oleo Script", cursive;
                            }
                            
                            .topics {
                                padding-top: 30px;
                                padding-bottom: 30px;
                            }
                            
                            .hell {
                                font-size: 25px;
                                font-weight: 900;
                                font-family: "Quicksand", sans-serif;
                                color: rgb(33, 22, 70);
                            }
                            
                            .heaven {
                                font-size: 20px;
                                font-weight: 200;
                                font-family: "Oleo Script", cursive;
                                color: rgb(33, 22, 70);
                                padding-left: 17%;
                            }
                            /*form sections*/
                            
                            .form h2 {
                                padding-bottom: 10px;
                            }
                            
                            .form {
                                background: #ffffff;
                                max-width: 360px;
                                margin: 0 auto 100px;
                                padding: 45px;
                                text-align: center;
                                box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
                            }
                            
                            .form input {
                                font-family: "Roboto", sans-serif;
                                outline: 0;
                                background: #f2f2f2;
                                width: 100%;
                                border: 0;
                                margin: 0 0 15px;
                                padding: 15px;
                                box-sizing: border-box;
                                font-size: 14px;
                            }
                            
                            .form button {
                                font-family: "Roboto", sans-serif;
                                text-transform: uppercase;
                                outline: 0;
                                background: #4caf50;
                                width: 100%;
                                border: 0;
                                padding: 15px;
                                color: #ffffff;
                                font-size: 14px;
                                -webkit-transition: all 0.3 ease;
                                transition: all 0.3 ease;
                                cursor: pointer;
                            }
                            
                            .form button:hover {
                                background: #43a047;
                            }
                            
                            .share {
                                display: flex;
                                align-items: center;
                                justify-content: space-around;
                                padding-top: 50px;
                                padding-left: 50px;
                                padding-right: 50px;
                            }
                            
                            .arrow {
                                width: 5rem;
                                opacity: 0.5;
                            }
                            /*what people say section*/
                            
                            .about-us {
                                display: flex;
                                align-items: center;
                                padding: 30px;
                            }
                            
                            .svg_aboutus {
                                opacity: 0.5;
                                width: 1.5rem;
                                padding-top: 20px;
                                display: block;
                                margin-left: auto;
                                margin-right: auto;
                            }
                            
                            .pplsay {
                                text-align: center;
                                font-size: 20px;
                            }
                            /*footer section*/
                            
                            footer {
                                background-color: rgb(21, 211, 201);
                                width: 100%;
                                line-height: 20px;
                                position: relative;
                            }
                            
                            .momo {
                                display: grid;
                            }