/*.header {
    text-shadow: black;
    padding: 10px;
    background-color: silver;
}

.header1 {
    text-align: center;
}

.gmail {
    padding-left: 89%;
    position: absolute;
    top: 0;
    text-decoration: none;
    margin-top: 10px;
}

.fa-envelope {
    padding-left: 87.5%;
    top: 0;
    position: absolute;
    margin-top: 10px;
}

.fa-phone {
    padding-left: 79.5%;
    top: 0;
    position: absolute;
    margin-top: 10px;
}

.phn {
    padding-left: 81%;
    position: absolute;
    top: 0;
    text-decoration: none;
    margin-top: 10px;
}*/


/*navigation bar section*/

@media screen and (max-width: 768px) {
    #primary {
        width: 100%;
    }
    #secondary {
        width: 100%;
        margin: 0;
        border: none;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
}

.container {
    padding-top: 120px;
}

nav {
    background: rgb(0, 209, 199);
    padding: 0px 100px;
    width: 100%;
    line-height: 60px;
    position: fixed;
    z-index: 1;
}

nav .logo {
    padding-top: 20px;
}

nav .logo p {
    font-size: 1.6rem;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 153, 51);
    border-radius: 8px;
    float: left;
    letter-spacing: 1.5px;
    padding-left: 1%;
    padding-right: 1%;
}

nav ul li {
    list-style: none;
    text-align: right;
    display: inline;
}

.navbar ul li .bcgrnd-stay {
    background-color: antiquewhite;
}


/*login botton*/

nav ul li button {
    font-size: 10%;
    border-radius: 8px;
    background-color: ghostwhite;
    padding: 5px;
    border: none;
    float: right;
}

.mybtn {
    position: absolute;
    top: 8px;
    right: 10px;
    padding-left: 20px;
}

.btntxt {
    font-size: 15px;
    font-family: 'Merriweather', serif;
}


/*--------------*/


/*menu*/

nav ul li a {
    color: rgb(85, 61, 10);
    font-size: 1.4rem;
    margin: 0 0.6rem;
    text-decoration: solid;
    padding: 1%;
    font-family: "Quicksand", sans-serif;
    border-radius: 8px;
}

nav .navbar {
    text-align: right;
    padding-left: 25%;
    padding-top: 10px;
}

nav .navbar a:hover {
    color: rgb(187, 85, 2);
    background-color: #ece9e9;
}


/*-----------------------------------*/


/*
.footer {
    text-align: center;
    background: rgb(18, 150, 18);
    padding: 10px;
}

.footer a {
    text-decoration: none;
}
*/

.cn {
    padding-left: 57%;
    margin-top: -23.5%;
}

#myform p {
    font-family: 'Times New Roman', Times, serif;
    color: black
}


/*icons in footer*/

.fa-facebook {
    background: blue;
    color: white;
    width: 30px;
    height: 30px;
    padding: 12px;
    font-size: 20px;
    text-decoration: none;
}

.fa-twitter {
    background: white;
    background: blue;
    color: white;
    width: 30px;
    height: 30px;
    padding: 12px;
    font-size: 20px;
    text-decoration: none;
}

.fa-instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: white;
    width: 30px;
    height: 30px;
    padding: 12px;
    font-size: 20px;
    text-decoration: none;
}

.fa-linkedin {
    background: rgb(75, 119, 214);
    color: white;
    width: 30px;
    height: 30px;
    padding: 12px;
    font-size: 20px;
    text-decoration: none;
}

footer .foot-icon {
    position: flex;
    margin-left: 80%
}

#bt {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(255, 153, 51);
    color: white;
    border-radius: 8px;
    border: none;
}

#bt:hover {
    background-color: aquamarine;
}

.mq {
    background-color: rgb(18, 150, 18);
    color: white;
    padding: 10px;
    font-size: large;
}

.pic {
    border-radius: 16px;
    border-color: black;
}

#txt {
    padding-left: 40px;
}

#name {
    padding-left: 37px;
}

.img1 {
    margin-top: -32%;
    border-radius: 49%;
    position: absolute;
    right: 110px;
    height: 180px;
    width: 180px;
}

.img2 {
    margin-top: -23%;
    border-radius: 49%;
    position: absolute;
    right: 34px;
    height: 180px;
    width: 180px;
}

.img3 {
    margin-top: -15%;
    border-radius: 49%;
    position: absolute;
    right: 110px;
    height: 180px;
    width: 180px;
}

.aboutus-all {
    padding-top: 80px;
    padding-bottom: 50px;
}


/*footer section*/

footer {
    background-color: rgb(51, 211, 201);
    width: 100%;
    line-height: 20px;
    position: relative;
}

.foot-logo h3 {
    color: rgb(250, 250, 250);
    float: left;
    letter-spacing: 1.5px;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 70px;
}

.foot-logo h3 p {
    justify-content: center;
    background-color: rgb(255, 153, 51);
    width: 110%;
    padding-left: 20px;
    border-radius: 8px;
}

footer h4 {
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 210px;
}

.momo {
    display: grid;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

.story-info {
    color: rgb(138, 136, 136);
    font-size: 14px;
    font-weight: 300px;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}


/* for destination page!!!! */

.places {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.places-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.places-col img {
    width: 96%;
    display: block;
}

.places-cols img {
    width: 100%;
    display: block;
}

.places-cols {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.layer {
    background: transparent;
    height: 100%;
    width: 96%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgb(255, 153, 51)
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 23px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.lrnmore {
    text-decoration: none;
}

.layer .lrnmore {
    opacity: 0;
    transition: 0.5s;
}

.layer:hover .lrnmore {
    bottom: 49%;
    opacity: 1;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}


/* for story page !!!! */

.picks-col .fa {
    color: #f44336;
}

.top-picks {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.picks-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.picks-col img {
    width: 100%;
    border-radius: 10px;
}

.picks-col p {
    padding: 0;
}

.picks-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.picks-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.img-search {
    min-height: 100vh;
    width: 100%;
    background-image: linear;
    background-position: center;
    background-size: cover;
    background-position: relative;
}